<% if links.results.size > 0 %>
  <table id="links_table" class="table">
    <thead>
      <tr>
        <th></th>
        <th>Score</th>
        <th>Content</th>
        <th>Track</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'shared/reddit_link_rows', links: links, track: track, user_tracks: user_tracks %>
    </tbody>
  </table>
<% else %>
  Sorry no results were returned. Please try tweaking your search paramters.
<% end %>
