<div id="subscribed_subs">
  <% subreddits.each do |subreddit| %>
    <div <%= div_id('subreddit', subreddit.full_name) %>>
      <%= link_to subreddit.name, { controller: "link/retrievals", action: :show, subreddit: subreddit.name }, class: 'user_sub', remote: true %>&nbsp;&nbsp;
      <%= link_to subreddit_path(:id => subreddit.full_name), method: :delete, :remote => true do %>
      <i class="icon-remove quick_hide_parent"></i>
      <% end %>
    </div>
  <% end %>
</div>