<div>Add Track via URL</div>
<div>
  <%= form_tag(link_retrieve_path, remote: true, class: "tmt") do |form| %>
    <%= text_field_tag :path, nil, class: "inputpad click_clear", placeholder: "Enter reddit Link here..." %>
    <%= submit_tag "Submit", class: "btn btn-info", data: { disable_with: "Working..." } %>
  <% end %>
</div>

<table id="tracks_content" class="table">
  <thead>
    <th>
      Score
    </th>
    <th>
      Title
    </th>
    <th>
      Target
    </th>
    <th>
    &nbsp;
    </th>
  </thead>
  <tbody>
  <% if current_user.tracks_count > 0 %>
    <%= render tracks %>
  <% else %>
    <tr><td id="links_nolinks" colspan="3">You aren't tracking any links yet.</td></tr>
  <% end %>
  </tbody>
</table>