<div>
  <%= form_tag(subs_path, method: :post, remote: true) do |form| %>
    <%= hidden_field_tag :subreddit, sub.full_name %>

    <% if !subscribed %> 
      <span class="bold"><%= sub.display_name %></span>&nbsp;&nbsp;<i class="iconhover icon-arrow-right hide_and_submit"></i> 
    <% else %>
      <%= sub.display_name %>
    <% end %>
  <% end %>
</div>