<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="widget" data-step="1" data-intro="This is where you can search for relevant reddit posts.">
      <div class="widget-header"> 
        <i class="icon-thumbs-down"></i>
        <h3>Error</h3>
      </div>
      
      <div class="widget-content">
        We're really sorry but Reddit didn't seem to want to give us the data we asked for. Please reload the page and try again.
      </div>  
    </div> 
</div>