<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="widget" data-step="1" data-intro="This is where you can search for relevant reddit posts.">
      <div class="widget-header"> 
        <i class="icon-plane"></i>
        <h3>Search Reddit</h3>
      </div>
      
      <div class="widget-content">
        <div id="links_search">
          <%= render 'shared/search_filter', subs: @dashboard.subs_for_search %>
        </div>
      </div>  
    </div> 

    <div class="widget" data-step="2" data-intro="All the links from reddit will be displayed here.">
      <div class="widget-header"> 
        <i class="icon-list"></i>
        <h3 id="results_header">Reddit front page</h3>
      </div>
      
      <div class="widget-content">
        <div id="links_content">
          <%= render 'shared/reddit_links', links: @dashboard.reddit_front_page, track: @dashboard.build_track, user_tracks: @dashboard.track_names_array %>
        </div> 
        <div id="links_more">  
        </div>
      </div>  
    </div> 
  </div>

  <%= render 'shared/subs_and_tracks' %>
</div>