/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.short_input 
{ 
  width: 50px; 
  padding-left: 3px; 
}

.med_input
{ 
  width: 150px; 
}

.large_input
{ 
  width: 230px; 
}

#sub_search_results {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD; 
} 

#main_outer { margin-top: 20px;}

.link_title {
  font-size: 13px;
  font-weight: 600;
}

.link_score {
  font-size: 13px;
  font-weight: 500;
}

.bold { 
  font-size: 13px;
  font-weight: 500; 
} 

.link_details { 
  margin-top: 15px; 
  font-size: 11px;
  font-weight: 500;
}

.head { width: 200px; }
.content { width: 200px; }

.inputpad { padding-left: 3px;  }

.mini-form { height: 15px; }

.search_pd { padding-left: 8px; }

.navbar-header { padding-left: 15px;  }

.right { text-align:right; }

.smt { margin-top: 12px; }

.bmt { margin-top: 18px; }

.sml { margin-left: 14px; }

.tmt { margin-top: 4px; }

.smb { margin-bottom: 6px; }

.center { text-align:center; }

.iconhover { color: #428BCA; }

.slineh { line-height: 1.3em; }

.iconhover:hover { 
  text-decoration: underline; 
  cursor: pointer;
}

.hit_target { color: green; }

.rising { color: #2E9AFE; }

.falling { color: red; }

.large_link { font-size: 16px; font-weight: bold; }

.light { color: #777; }
