<label class="sr-only" for="search_subreddit">Select Subreddit</label>
<span class="bold">In</span>:&nbsp;&nbsp;<%= select_tag 'search[subreddit]', options_for_select(subreddits), {prompt: "All Subreddits"} %>